<?xml version="1.0" ?>
<config>  
	<!-- Global simulation parameters -->
	<output resultsFile="./data/Flocking.h5" logsDir="./logs"/>
	<numSteps value="30" serializeResolution="1"/>
	<size width="50" height="50"/>
	<Birds numBirds="150" velocity="1" sigth="3" mindist = "1" max_A_turn = "5.00" max_C_turn = "3.00" max_S_turn = "1.50"/>
</config>

