<?xml version="1.0" ?>
<config>
        <!-- Global simulation parameters -->
        <output resultsFile="./data/sugarScape_reescalable.h5" logsDir="./logs"/>
        <numSteps value="1000" serializeResolution="1"/>
        <seed value="1234"/>
        <size width="80" height="80"/>
        <inputData numAgents="1500" minWealth="5" maxWealth="25" minVision="1" maxVision="6"
                           minMr="1" maxMr="4" minMAge="60" maxMAge="100"/>
</config>