<?xml version="1.0" ?>
<config>  
	<!-- Global simulation parameters -->
	<output resultsFile="./data/stupidModel.h5" logsDir="./logs"/>
	<numSteps value="1000" serializeResolution="1"/>
	<seed value="1234"/>
	<overlapSizeMPI value="6"/>
	<size width="40" height="40"/>
	<Client clientRate="10" drifting="0.09" stopping="0.02" stopTime="20" wander="0.15"/>
    <Cashier numCashiers="3" sickCashiers="0" cashierShift="1000"/>
	<Raster mapRoute="./maps/spar.bmp"/>
    <Epidemiology infectiousness="0.00371" infectoinRadius="2" sickRate="0.3" encounterRadius="2" maxSick="-1"/>
	<Phone signalRadius="6" applicationRate="1.0" phoneThreshold1="63" phoneThreshold2="74"/>
</config>