<?xml version="1.0" ?>
<config>
    <output resultsFile="data/espaiBarca.h5" logsDir="./logs"/>
    <numSteps value="100" serializeResolution="1"/>
    <size width="970" height="970"/>
    <inputData map="resources/bitmaps/buildings.bmp" numAgents="1" />
    <agentData minVision="1" maxVision="3" minAge="0" maxAge="80" porvTourist="0.5"/>
</config>
